* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #333;
}

header {
  background-color: #6A0DAD; /* Roxo forte */
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #E6CCFF; /* Roxo claro */
}

main {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

section {
  margin-bottom: 60px;
}

h2 {
  color: #6A0DAD;
  margin-bottom: 15px;
}

a {
  color: #6A0DAD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #6A0DAD;
  color: white;
  text-align: center;
  padding: 20px;
}
